<div class="container">
    <div class="row justify-content-md-center">
        <h1>Login</h1>
    </div>
    <div class="row justify-content-md-center spacer">
        <div class="col-md-6">
            <div *ngIf="errorMessage">
                <div class="alert alert-danger" role="alert">
                    {{errorMessage}}
                </div>
            </div>
            <form (ngSubmit)="onSubmit()" ngNativeValidate>
                <div class="form-group">
                    <label for="username" class="form-label">Username</label>
                    <input
                        [(ngModel)]="user.username"
                        name="username"
                        type="email"
                        required
                        class="form-control"
                        id="username"
                        placeholder="enter your username"/>
                </div>
                <div class="form-group">
                    <label for="password" class="form-label">Password</label>
                    <input
                        [(ngModel)]="user.password"
                        name="password"
                        type="password"
                        required
                        class="form-control"
                        id="password"
                        placeholder="enter a password"
                        aria-describedby="passHelpBlock"/>
                    <div id="passHelpBlock" class="form-text">
                        Must be 6-20 characters long.
                    </div>
                </div>
                <div class="login-btn-div">
                    <button type="submit" class="btn btn-primary login-btn">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
